body{
    margin:0;
    background-color:#F5F5F5;
}
header{
    background-color:#3A3A3A;
    color:white;
    display:flex;
    justify-content: space-between;
}
nav{
    width:37%;
}
a{
    color:white;
    text-decoration: none;
}
ul{
    width:80%;
    /*padding-top:15px;
    padding-right:100px;*/
    list-style:none;
    display:flex;
    justify-content: space-around;
}
li{
    margin:5%;
}
footer{
    background-color:darkslategray;
    height:200px;
}
.Popular{
    text-align:center;
}
.Cards{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:20px;
    padding-top:12px;
}
.Card{
    background-color:#D9D9D9;
    height:200px;
    width:150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 2px black dotted;
    text-align:center;
}
.imgcatalog{
    height:50%;
    width:65%;
    padding-left:25px;
}
.Locked{
    height:50%;
    width:65%;
    padding-left:25px;
}
.RegForm{
    display: flex;
    width: 100vw;
    height: calc(100vh - 10em);
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}